@import url("https://fonts.googleapis.com/css?family=Dosis:700&display=swap");

/* ヘッダー */
header {
  background-color: #8ac8ff;
  padding: 8px 16px;
  text-align: center;
}

header h1 {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}

/* TODO追加部分 */
.input-area {
  margin: 32px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-area-text {
  border: 1px solid #8ac8ff;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  width: 500px;
  box-sizing: border-box;
}

.button-add {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #0270ee;
  margin: 0px 8px;
}

/* タブ */
.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #8ac8ff;
}

.tab {
  cursor: pointer;
  padding: 8px 40px;
  color: #343;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.tab.selected {
  font-weight: bold;
  border-bottom-color: #0270ee;
}

/* TODOリスト */
.todo-list {
  font-size: 1em;
  color: #343;
}

.todo-list ul {
  margin: 16px auto;
  width: 556px;
}

.todo-list-item {
  display: flex;
  align-items: center;
  margin: 8px 0px;
}

.todo-list-item label {
  padding: 6px;
}

.todo-list-item input[type="text"] {
  border: 1px solid #8ac8ff;
  border-radius: 4px;
  font-size: 1em;
  color: #343;
  padding: 4px;
  width: 400px;
}

/* 削除ボタン */
.button_remove {
  border: none;
  margin: 0px 4px;
  padding: 0px;
  width: 24px;
  height: 24px;
  color: #0270ee;
  text-align: center;
}

.button_remove i {
  margin-top: 2px;
}

.material-icons.md-18 {
  font-size: 18px;
}
